# Core library dependencies
CoolProp
jsonschema
numpy
pandas
pygfunction
scipy

# Dependencies needed to build wheels for PyPi
wheel

# Dependencies for building documentation (for RTD)
Sphinx
sphinx-rtd-theme

# Dependencies needed to assist in running linting, unit tests and coverage
pytest
flake8
coverage
coveralls

# Dependencies needed for running the extra validation studies and such
matplotlib
